<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Contact Us</title>
</head>
<body>

    <header class="header">
        <img class="header__logo" src="../img/suitcase-logo.png" alt="Suitcase musik logo">
        <img id="email__icon" src="../img/email-icon.png" alt="icon indicating email">
        <p class="header__email"> suitcasemsuik@gmail.com</p>
        <button onclick="contactUs()" class="header__button">Contact us</button>
    </header>

    <nav id="nav" class="nav">
        <a class="nav__item nav__1" href="">Welcome</a>
        <a class="nav__item nav__2" href="">Sponsors</a>
        <a class="nav__item nav__3" href="">About</a>
        <a class="nav__item nav__4" href="">Store</a>
    </nav>

    <div class="contact">
        <h3 class="contact__header">
            Contact Us
        </h3>

        <div class="contact__static">
            <p>More contact methods go here? phone number, email, something else?</p>
        </div>

        <form class="contact__form">
            <h4 class="contact__form__">Send us an email</h4>

            <label for="your email">Your email</label>
            <input type="text" placeholder="john@example.com">

            <label for="subject">Subject</label>
            <input type="text" placeholder="We want to sponsor you!">

            <label for="message">Message</label>
            <input type="textarea" cols="30" rows="30" placeholder="I love yalls performance and would love to become a sponsor!">

            <input onclick="handleFormSubmit" type="submit" value="Send Email">
        </form>
    </div>


    <script src="../js/app.js"></script>    
</body>
</html>