<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Suitcase Musik</title>
</head>
<body>
    <div id="body">

        
        <header class="header">
            <img class="header__logo" src="img/suitcase-logo.png" alt="Suitcase musik logo">
            <img id="email__icon" src="img/email-icon.png" alt="icon indicating email">
            <p class="header__email"> suitcasemsuik@gmail.com</p>
            <button class="header__button">Contact us</button>
        </header>
        
        <nav id="nav" class="nav">
            <a class="nav__item nav__1" href="">Welcome</a>
            <a class="nav__item nav__2" href="">Sponsors</a>
            <a class="nav__item nav__3" href="/views/about.html">About</a>
            <a class="nav__item nav__4" href="">Store</a>
        </nav>

        <div class="welcome">
            <button class="welcome__signup">Join our mailing list</button>
            <p class="welcome__text"> <span class='welcome__anyone'>Anyone</span> <br> can do it</p>
        </div>

        <div class="sponsors">
            <h3 class="sponsors__header">A special shout out to our sponsors
                <hr>
            </h3>

            <div class="sponsors__item sponsors__top sponsors__everbar">
                <a href="https://www.livityfoods.com/">
                    <img id="everbar" src="img/everbar.JPG" alt="everbar logo">
                </a>
            </div>

            <div class="sponsors__item sponsors__top sponsors__infsol">
                <a href="https://www.infinitesoldier.com/">
                    <img id="infsol" src="img/infinite-soldier.jpeg" alt="infinite soldier logo">
                </a>
            </div>

            <div class="sponsors__item sponsors__bottom sponsors__disprint">
                <a href="www.discountedprinting.com">
                    <img id="disprint" src="img/disprint.png" alt="Discountedprinting.com logo">
                </a>
            </div>
            <!-- <div class="sponsors__item sponsors__bottom sponsors__cgd">
                <a href="https://www.facebook.com/cabingirldesigns/">
                    <img id="cgd" src="img/cgd.JPG" alt="Cabin Girl Designs logo">
                </a>
            </div> -->

            <div class="sponsors__item sponsors__bottom sponsors__mntinsp">
                <a href="https://www.mtinspiration.com/">
                    <img id="mntinsp" src="img/mntinsp.png" alt="mount inspiration logo">
                </a>
            </div>
        </div>

       <!-- <div class="who">

        </div>

        <div class="contact">

        </div> -->

        <footer>
            
        </footer> 
    </div>
    <script src="./js/app.js"></script>
</body>
</html>